body{
    margin: 50px auto;
    background: rgb(248, 249, 250);
}
div{
    padding: 20px auto;
}
ul li{
    margin-left: 20px;
}
.nav{
    position: relative;
    position:fixed;
    top: 0;
    width: 100%;
    height: 90px;
    z-index: 9999;

}
.cor{
    margin-top: 5%;
}
.pink{
    background: #5fb3d4;
}

.home-quote{
    background-image: url(imagens/mar.jpg) ;
    background-size: cover;
}